<div class="formbold-main-wrapper" id="form">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div  class="formbold-form-wrapper">
    <form  action="https://formbold.com/s/FORM_ID" method="POST">
        <h3 class="tittle">ADD TASK</h3>
      <div class="flex flex-wrap formbold--mx-3">
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5">
            <label class="formbold-form-label" for="projectName">Project Name </label>
            <input
              type="text"
              name="projectName"
              id="projectName"
              placeholder="Project Name"
              class="formbold-form-input"
            />
          </div>
        </div>
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5">
            <label class="formbold-form-label" for="projectDescription">Description</label>
            <input
              type="text"
              name="projectDescription"
              id="projectDescription"
              placeholder="Description"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>


      <div class="flex flex-wrap formbold--mx-3">
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5 w-full">
            <label for="startDate" class="formbold-form-label"> Start Date </label>
            <input
              type="date"
              name="startDate"
              id="startDate"
              class="formbold-form-input"
            />
          </div>
        </div>
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5">
            <label for="startDate" class="formbold-form-label"> End Date </label>
            <input
              type="date"
              name="endDate"
              id="endDate"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>

      <div>
        <button class="btn1">Submit</button>
      </div>
    </form>
  </div>
</div>

