<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="../../assets/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../assets/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="../../assets/admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"/>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="ad"><a class="navbar-brand" href="home">Admin</a></div>
          
        </div>
        <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
          <a href="login" class="btn btn-danger ">Đăng xuất</a>
        </div>
      </nav>
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li class="text-center">
              <img src="../../assets/admin/img/find_user.png" class="user-image img-responsive" />
            </li>
            <li>
              <a class="active-menu" href="home"><i class="fa fa-dashboard fa-3x"></i>Bảng điều khiển</a>
            </li>
            <li>
              <a href=""><i class="fa fa-newspaper-o fa-3x"></i>Giới thiệu</a>
            </li>
            <li>
              <a href="project"><i class="fa fa-folder-open fa-3x"></i>Quản lí dự án</a>
              <ul>
                <li><a href="add-project"><i class="fa fa-plus-circle"></i> Thêm dự án</a></li>
                <li><a href="project"><i class="fa fa-list"></i> Danh sách dự án</a></li>
              </ul>
            </li>
            <li>
              <a href="user"><i class="fa fa-users fa-3x"></i>Quản lí khách hàng</a>
              <ul>
                <li><a href="add-user"><i class="fa fa-plus-circle"></i> Thêm khách hàng</a></li>
                <li><a href="user"><i class="fa fa-list"></i> Danh sách khách hàng</a></li>
              </ul>
            </li>
            <li>
              <a href="task"><i class="fa fa-tasks fa-3x"></i>Quản lí Task</a>
              <ul>
                <li><a href="add-task"><i class="fa fa-plus-circle"></i> Thêm task</a></li>
                <li><a href="task"><i class="fa fa-list"></i> Danh sách task</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../assets/admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../assets/admin/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../assets/admin/js/jquery.metisMenu.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="../../assets/admin/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../assets/admin/js/morris/morris.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../assets/admin/js/custom.js"></script>
  </body>
</html>
