<p>
  add-task works!
</p>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mẫu Quản trị Bootstrap Miễn phí: Binary Admin</title>
    <!-- STYLES CỦA BOOTSTRAP-->

    <link href="assets/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- STYLES CỦA FONTAWESOME-->
    <link href="assets/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- STYLES TÙY CHỈNH-->
    <link href="assets/admin/css/custom.css" rel="stylesheet" />
    <!-- FONT CHỮ GOOGLE-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="col-md-12">
                    <h2>Thêm Task</h2>
                </div>
                <form (submit)="createtask()">
                    <div class="form-group">
                      <label for="project_id">Project ID</label>
                      <input type="text" class="form-control" id="project_id" required [(ngModel)]="project_id" name="project_id">
                    </div>
                    <div class="form-group">
                      <label for="name">Tên Task</label>
                      <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="description">Mô Tả</label>
                      <textarea class="form-control" id="description" required [(ngModel)]="description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="assignee_id">Người được giao(ID)</label>
                      <input type="text" class="form-control" id="assignee_id" required [(ngModel)]="assignee_id" name="assignee_id">
                    </div>

                    <div class="form-group">
                      <label for="status">Trạng thái</label>
                      <select class="form-control" id="status" required [(ngModel)]="status" name="status">
                        <option value="to do">Đang chờ</option>
                        <option value="in progress">Đang tiến hành</option>
                        <option value="done ">Đã hoàn thành</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="priority">Mức Độ Ưu Tiên</label>
                      <select class="form-control" id="priority" required [(ngModel)]="priority" name="priority">
                        <option value="low">Thấp</option>
                        <option value="medium">Trung bình</option>
                        <option value="high">Cao</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="start_date">Ngày Bắt Đầu</label>
                      <input type="date" class="form-control" id="start_date" required [(ngModel)]="start_date" name="start_date">
                    </div>

                    <div class="form-group">
                      <label for="due_date">Ngày Hoàn Thành</label>
                      <input type="date" class="form-control" id="due_date" required [(ngModel)]="due_date" name="due_date">
                    </div>

                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                  </form>

            </div>
            <!-- Kết thúc TRANG NỘI BỘ  -->
        </div>
        <!-- Kết thúc BỌC TRANG  -->
    </div>
    <!-- Kết thúc BỌC  -->
    <!-- SCRIPTS - Ở DƯỚI ĐỂ GIẢM THỜI GIAN TẢI-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/admin/js/bootstrap.min.js"></script>
    <!-- SCRIPTS CỦA METISMENU -->
    <script src="assets/admin/js/jquery.metisMenu.js"></script>
    <!-- SCRIPTS TÙY CHỈNH -->
    <script src="assets/admin/js/custom.js"></script>
</body>

</html>