<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../../assets/admin/css/bootstrap.css" rel="stylesheet" />
  <link href="../../assets/admin/css/font-awesome.css" rel="stylesheet" />
  <link href="../../assets/admin/css/custom.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="wrapper">
    <div id="page-wrapper">
      <section class="h-100 h-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                  class="w-100" style="border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem;" alt="Sample photo" />
                <div class="card-body p-4 p-md-5">
                  <h3 class="title">Registration Info</h3>
                  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="username">Username</label>
                      <input type="text" id="username" class="form-control" placeholder="Username"
                        formControlName="username" />
                      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                        <div *ngIf="username.errors.required">Username is required.</div>
                      </div>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" class="form-control" placeholder="Password"
                        formControlName="password" />
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors.required">Password is required.</div>
                      </div>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="email">Email</label>
                      <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" />
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors.required">Email is required.</div>
                        <div *ngIf="email.errors.email">Email is invalid.</div>
                      </div>
                    </div>
                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                      <div class="col-md-6">
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="role">Role</label>
                          <input type="text" id="role" class="form-control" placeholder="Role" formControlName="role" />
                          <div *ngIf="role.invalid && (role.dirty || role.touched)" class="text-danger">
                            <div *ngIf="role.errors.required">Role is required.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="team">Team</label>
                          <input type="text" id="team" class="form-control" placeholder="Team" formControlName="team" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="image">Image</label>
                          <input type="file" id="image" class="form-control" placeholder="Image" formControlName="image" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="created_at">Create At</label>
                          <input type="date" id="created_at" class="form-control" formControlName="created_at" />
                          <div *ngIf="created_at.invalid && (created_at.dirty || created_at.touched)" class="text-danger">
                            <div *ngIf="created_at.errors.required">Created At is required.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn1">Submit</button>
                      <button type="button" (click)="onBack()" class="btn">
                        <i class="fa fa-arrow-left"></i> Quay lại
                      </button>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                      {{ errorMessage }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
